/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling without affecting vertical flow */
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  color: #151718;
  min-height: 100vh;
  overflow-x: hidden; /* Hide horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Keyframes for background animation */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Sticky header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000000;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}
