/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400; /* Ensure the font weight is 400 */
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  color: #151718;
  min-height: 100vh;
  display: flex; /* Use Flexbox to center content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Keyframes for background animation */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  font-family: 'Quicksand', sans-serif; /* Apply the font to headings and paragraphs */
  font-weight: 400; /* Ensure the font weight is 400 */
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Add Container for Content */
.container {
  width: 100%;
  max-width: 1200px; /* Limit the content width for desktop */
  padding: 20px; /* Padding for inner spacing */
  margin: 0 auto; /* Center the content horizontally */
  text-align: center; /* Center-align text by default */
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Ensure content takes up more space on mobile */
  }

  h2 {
    font-size: 1.8rem; /* Adjust the heading size for mobile */
  }
}
